h1{
    color: blue;
    background-color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2{
    color: lightpink;
    background-color: darkgreen;
    font-size: larger;
    text-align: center;
}
